<% provide(:title, 'Edit Email Options') %>
    <div class="container-narrow">
        <%= render :partial => 'layouts/header', :locals => { :active => 'Payments' }  %>

<h1>Editing email options</h1>



<%= render 'form' %>

<%= link_to 'Back', payments_path %>
<br/><hr/>
The email that will automatically be sent to people who owe you money is as follows:
<br/><br/><br/>
<i>
<%= render partial: 'layouts/email_body', locals: { payer_email: "{ THEIR EMAIL ADDRESS }", loaner_email: "{ YOUR EMAIL ADDRESS }", payment_description: "{ PAYMENT DESCRIPTION }", payment_amount: "{ PAYMENT AMOUNT }", payment_frequency: "{ PAYMENT FREQUENCY }", mailer_type: 'single_payment' } %>
</i>

<%#= link_to 'Show', @payment %> <!-- | -->


<%= render 'layouts/footer' %>
    </div>
