<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <a name="text_email"><%= @payment.email %></a>!</h1>
    <p>
      <b>This is PayMonkey, your friendly neighborhood loan shark :)</b><br/>
    </p>
    <p>
      We're sending you a friendly reminder that you owe some money to <a name="text_email"><%= @payment.user.email %></a>, who wants to be paid back.<br/>
      Payment description: <%= @payment.description %><br/>
      Payment amount: $<%= @payment.amount %><br/>
    </p>
    <p>
      We'll send you <%= @payment.frequency %> reminders so you don't forget.  Once you have paid back <a name="text_email"><%= @payment.user.email %></a>, follow <%= link_to 'this link', @url %> to confirm and stop receiving these reminders.<br/>
    </p>
    <p>Thanks and have a great day!</p><br/>
  <%= render 'layouts/email_footer' %>
  </body>
</html>
