<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @payment.email %>!</h1>
    <p>
      <b>This is PayMonkey, your friendly neighborhood loan shark :)</b><br/>
    </p>
    <p>
      You owe some money to <%= @current_user.email %>, who wants to be paid back.<br/>
      Payment description: <%= @payment.description %><br/>
      Payment amount: $<%= @payment.amount %><br/>
    </p>
    <p>
      We'll send you <%= @payment.frequency %> reminders so you don't forget.  Once you have paid back <%= @current_user.email %>, follow this link to confirm and stop receiving these reminders:<br/>
      <%= @url %><br/>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
