<%= form_for @payment, :url => { :action => "updatenr" } do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <b>Owe Money To:</b>
  <%= @payment.email %>
</p>

<p>
  <b>Description:</b>
  <%= @payment.description.capitalize %>
</p>

<p>
  <b>Amount Owed:</b>
  <%= number_to_currency(@payment.amount) %>
</p>



  <form class="form-horizontal">


    <div class="control-group">
      <div class="field">
        <%= f.label :paid, "Paid Status", class: "control-label" %><br />
        <div class="controls">
          <%= f.select :paid, [ ['Pending', 'pending'],['Paid', 'paid'] ], {:include_blank => 'Please select'} %>
        </div>
      </div>
    </div>
    
    <div class="control-group">
      <div class="actions">
        <div class="controls">  
          <%= f.submit :confirm => "Are you sure you want to change status?  If you change status to paid, we will remove the payment from your queue and you will no longer get emailed reminders." %>
        </div>
      </div>
    </div>
  </form>
<% end %>
