<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
    <div class="field">
      <div class="control-group">
        <%= f.label :email, "Email of person who owes you $$$", class: "control-label" %><br />
        <div class="controls">
          
          <!-- Old email input was text_field; code works fine when using the following code: -->
          <%#= f.text_field :email %>
          <%#= f.collection_select :email, current_user.payments.select(:email).uniq, :email, :email, {:include_blank => "Please select"} %> 

          <%=f.select(:email, [ [ 'Add new email address...', 'new' ] ] + current_user.payments.collect(&:email).uniq, {:prompt => true}) %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="field">
        <%= f.label :email, "Enter new email address", class: "control-label", id: 'add_email_label', style: 'display:none;' %><br />
        <div class="controls">
          <%= f.text_field :email, id: 'add_email_field', style: 'display:none;' %>
        </div>
      </div>
    </div>  

    <div class="control-group">
      <div class="field">
        <div class="input-prepend">
          <%= f.label :amount, "Amount owed", class: "control-label" %><br />
          <div class="controls">
            <span class="add-on">$</span>
          
            <%= f.text_field :amount, class: "Span2", id: "prependedInput" %>
          </div>
        </div>
      </div>
    </div>

    <!--div class="control-group">
      <div class="field">
        <%#= f.label :frequency, "Send reminder emails", class: "control-label" %><br />
        <div class="controls">
          <%#= f.select :frequency, [['Biweekly', 'biweekly'],['Weekly', 'weekly'], ['Daily', 'daily'], ['No reminder', 'no_reminder']], {:include_blank => 'Please select'} %>
        </div>
      </div>
    </div> -->

    <div class="field">
      <%= f.hidden_field :frequency, :value => "weekly" %>
    </div>
    
    <div class="control-group">
      <div class="field">
        <%= f.label :description, "Description of what is owed", class: "control-label" %><br />
        <div class="controls">
          <%= f.text_field :description %>
        </div>
      </div>
    </div>  

    <div class="field">
      <%= f.hidden_field :paid, :value => "pending" %>
    </div>
    <div class="control-group">
      <div class="actions">
        <div class="controls">  
          <%= f.submit "Preview" %>
          <%= f.submit "Create" if @preview == true %>
        </div>
      </div>
    </div>
  </form>
<% end %>
