<% provide(:title, 'Edit') %>
    <div class="container-narrow">
        <%= render :partial => 'layouts/header', :locals => { :active => 'Payments' }  %>

<h1>Editing payment</h1>

<%= render 'form_loaner' %>

<%= link_to 'Show', @payment %> |
<%= link_to 'Back', payments_path %>

<%= render 'layouts/footer' %>
    </div>
