<% provide(:title, 'Index') %>
    <div class="container-narrow">
        <%= render :partial => 'layouts/header', :locals => { :active => 'Payments' }  %>



<%= render 'layouts/render_messages' %>


<% if current_user.not_registered != 1 %>
	<%= render 'payments/index_loaner' %>
	<br/>
	<hr>
<% end %>

<%= render 'payments/index_payer' %>

<%= render 'layouts/footer' %>
    </div>