<% provide(:title, 'About') %>
    <div class="container-narrow">
        <%= render :partial => 'layouts/header', :locals => { :active => 'Payments' }  %>



<%= render 'layouts/render_messages' %>

<%= render 'payments/index_loaner' %>
<br/>
<hr>

<%= render 'payments/index_payer' %>

<%= render 'layouts/footer' %>
    </div>