<% provide(:title, 'New') %>

<div class="container-narrow">
    <%= render :partial => 'layouts/header', :locals => { :active => 'Payments' }  %>

	<% if @preview == true %>
    	<h1>Preview email</h1>
    	<p><b>Your PayMonkee reminder is not complete.  The following email will be sent initially and weekly to your friend.  Please confirm by clicking create below.</b></p>
    	<div id = "email_preview">
		  <%= render partial: 'layouts/email_body', locals: { pay_method: @payment.user.pay_method, pay_description: @payment.user.pay_desc, email_instructions: @payment.user.email_instructions, payer_email: @payment.email, loaner_email: @payment.user.email, payment_description: @payment.description, payment_amount: @payment.amount, payment_frequency: @payment.frequency, mailer_type: 'single_payment', url_override: true } %>
		<hr>
    	</div>
    <% end %>

    <h1>New payment</h1>

	<%= render 'form_loaner' %>

	<%= link_to 'Back', payments_path %>

	<%= render 'layouts/footer' %>
</div>