<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @payment.email %>
</p>

<p>
  <b>Description:</b>
  <%= @payment.description %>
</p>

<p>
  <b>Amount:</b>
  <%= @payment.amount %>
</p>

<p>
  <b>Frequency:</b>
  <%= @payment.frequency %>
</p>

<p>
  <b>Paid:</b>
  <%= @payment.paid %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
