    <p>
      Hello, <%= payer_email %>!  This is PayMonkee, your friendly neighborhood loan shark :)<br/>
    </p>
    <p>
      <%= loaner_email %> recently lent you some money and has signed you up for a PayMonkee reminder.  Specifically, you owe

      <% if mailer_type == 'single_payment' %>
        <%= number_to_currency(payment_amount) %> for <%= payment_description.downcase %>.
      <% else %>
        :<br/><ul>
          <% @all_payments.each do |indv_payment| %>
            <li><%= number_to_currency(indv_payment.amount) %> for <%= indv_payment.description.downcase %></li>
          <% end %>
        </ul>
      <% end %>

    </p>
    <p>
      <% if pay_method == "paypal" %>
        Please send your payment via paypal to the address <%= pay_description %>.  
      <% end %>

      <% if pay_method == "mail_check" %>
        Please send your payment by mailing a check to the address <%= pay_description %>.  
      <% end %>

        We'll send you <%= payment_frequency %> reminders so you don't forget.  Once you have paid back <%= loaner_email %>, follow 
        
        <% if defined?(url_override) && url_override == true %>
          this link 
        <% else %>
          <%= link_to 'this link', @url %>
        <% end %>
        
        to confirm and stop receiving these reminders.<br/>
    </p>
    <p>Your friend asked that we pass along some additional comments:  <%= email_instructions %></p>
    <p>Thanks and have a great day!</p>

    <!--a name="text_email"></a-->